@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.app-container {
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(var(--accent-color), 0.8)
  );
}

#text {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-style: italic;
}

#author, #new-quote {
  font-family: 'Lato', sans-serif;
}

#quote-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0 30px;
  background-color: rgb(var(--accent-color));
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  max-width: 50%;
}

#author {
  align-self: flex-end;
  font-size: 1.2rem;
}

#quote-actions {
  display: flex;
  justify-content: end;
  align-items: center;
}

#new-quote {
  border-radius: 0 10px;
  background-color: white;
  padding: 0 1.5rem;
}

#new-quote:hover {
  background-color: rgb(236, 236, 236);
}

#tweet-quote {
  margin: 1rem;
  padding: 0 0.8rem;
  border: solid rgb(0, 0, 0);
  border-radius: 0 25%;
  background-color: white;
}

#tweet-quote:hover {
  background-color: rgb(236, 236, 236);
}

.keyboard-hint {
  font-size: 0.8rem;
  color: #6c757d; // A soft grey color
  margin-top: -0.5rem;
  text-align: right;
}

.signature {
  margin-top: 0rem;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  color: white;
  text-align: center;
  opacity: 0.7;
}